@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 700;
  src: url("../fonts/Merriweather/Merriweather-Bold.ttf");
}

/* # === GLOBAL-SETTINGS === */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font_Lato: "Lato";
  font-family: "Merriweather";
}

body {
  max-width: 1440px;
  padding-right: 27.37px;
  padding-top: 27.37px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 19.73px;
}

h2 + p {
  font-size: 1.2rem;
  line-height: 2.4rem;
}

/* # === NAVBAR === */

.navbar {
  font-family: "Lato";
  font-size: 1.2rem;
  text-align: right;
  text-transform: uppercase;
}

.navbar li {
  display: inline;
  padding-left: 17.5px;
}

.navbar > li > a {
  color: #202020;
  text-decoration: none;
}

/* # === MAIN === */

.impression {
  padding-left: 144px;
  padding-top: 102.41px;
}

.first_article {
  background-image: url("../img/illustration1.gif");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.first_article > a {
  border-radius: 1px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 13.66px;
  margin-top: 20.68px;
  padding: 0.7rem 1.2rem;
  text-decoration: none;
  margin-bottom: 179.3px;
}

.btn_dark {
  background-color: #000;
  color: #fff;
}

.btn_bright {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  color: #000;
}

.picture_left {
  margin-top: 95.55px;
  background-image: url("../img/illustration2.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 576px;
  padding-bottom: 198.49px;
}

.picture_left > h2 {
  width: 501.18px;
}

.picture_left > p {
  width: 495.45px;
}

.picture_right {
  margin-top: 95.55px;
  background-image: url("../img/illustration3.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 198.49px;
}

.picture_right > h2 {
  width: 447.18px;
}

.picture_right > p {
  width: 476.29px;
}

.three_in_a_row {
  margin-top: 95.55px;
}

.three_in_a_row > h2 {
  text-align: center;
}

.three_in_a_row > p {
  width: 814.61px;
  margin-left: auto;
  margin-right: auto;
}

.three_pictures {
  margin-top: 43.4px;
  width: 100%;
}

.three_pictures > div {
  display: inline-block;
  width: 360px;
  height: 305.95px;
  background-size: cover;
  margin-left: 75.8px;
}

.three_pictures > .picture1 {
  background-image: url("../img/illustration4.png");
  margin-left: 104.2px;
}

.picture2 {
  background-image: url("../img/illustration5.png");
}

.picture3 {
  background-image: url("../img/illustration6.png");
}

.examples {
  padding-top: 136.05px;
  text-align: center;
}

.examples > p {
  width: 834.87px;
  margin-left: auto;
  margin-right: auto;
}

.examples div {
  margin-top: 62.09px;
}
.examples div:first-of-type {
  margin-top: 36.2px;
}

.examples img {
  width: 576px;
  object-fit: cover;
}

.examples img:first-of-type {
  margin-right: 61.39px;
}

.membership_area {
  padding-top: 128.84px;
  text-align: center;
}

.membership_area > p {
  width: 555px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 71.09px;
}

.membership_container {
  background-color: #55acee1a;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 63.7px;
  padding-bottom: 47.4px;
}

.membership_container > h3 {
  font-size: 24px;
  font-weight: 700;
}

.price {
  font-size: 80px;
  font-weight: 700;
  padding: 44.59px 0;
}

.duration {
  color: #7e7e7e;
}

.abo_declaration {
  list-style-type: none;
  padding-top: 12.73px;
}

.become_member_button {
  margin-top: 15.84px;
  display: inline-block;
  background-color: #55acee;
  border-radius: 10px;
  padding: 16px 48px;
  color: #fff;
  text-decoration: none;
}

/* # === FOOTER === */
footer {
  padding-top: 63.7px;
  text-align: center;
  font-size: 19.2px;
}
.contact_area > p {
  padding-bottom: 14.4px;
}

.contact_area > p:last-of-type {
  padding-bottom: 0;
}

.contact_links > li {
  padding-top: 14.4px;
  padding-bottom: 14.4px;
  display: inline-block;
  padding-right: 5px;
}

.contact_links > li > a {
  text-decoration: none;
}

.contact_links li:nth-of-type(1) > a {
  color: #000;
}

.contact_links li:nth-of-type(2) > a {
  color: #fcaf45;
}

.contact_links li:nth-of-type(3) > a {
  color: #55acee;
}

.contact_links li:nth-of-type(4) > a {
  color: #c4302b;
}

/* # === HOVER === */

.hover:hover {
  box-shadow: 0 0 10px darkgray;
}
